html,
body {
  margin: 1rem;
  background-color: #282c34;
  color: white;
}

.pointer {
  cursor: pointer;
}

.pointer-fade:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tr {
  text-align: right;
}

.flex { display: flex; }
.flex-column  { flex-direction: column; }

.app-logo {
  pointer-events: none;
  max-width: 75%;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
